
#Queries_filter {
    float: right;
    padding-right: 1em;
}

#Queries_length {
    float: right;
    padding-right: 1em;
}

#Queries_processing {
    padding-left: 1em;
}

.fg-toolbar {
    padding-top: .5em;
    padding-bottom: .5em;
}

#Queries_info {
    float: right;
    padding-right: 1em;
}

#Queries_previous {
    margin: 0px;
}

#Queries_next {
    margin: 0px;
}

.number {
    text-align: right;
}

.center {
    text-align: center;
}

td {
    padding-right: .5em;
    padding-left: .5em;
}

.even {
    background-color: #DCEEFF;
}

body {
    padding: 8px;
    margin: 0px;
}

.date {
    width: 8em;
}
