
#Queries_filter {
    float:              right;
    padding-right:      1em;
}

#Queries_length {
    float:              left;
    padding-left:       1em;
}

#Queries_processing {
    width:              8em;
    margin-left:        auto;
    margin-right:       auto;
}

.fg-toolbar {
    padding-top:        .25em;
    padding-bottom:     .25em;
}

#Queries_info {
    float:              right;
    padding-right:      1em;
}

.number {
    text-align:         right;
}

.center {
    text-align:         center;
}

td {
    padding-right:      .5em;
    padding-left:       .5em;
}

.even {
    background-color:   #DCEEFF;
}

body {
    padding:            8px;
    margin:             0px;
}

.date {
    white-space:        nowrap;
}

div.ColVis {
   margin:              0px;
   margin-left:         .25em;
   float:               left;
}


#Queries_paginate {
    margin-top:         4px;
    margin-right:       .25em;
    float:              right;
}

input.number_range_filter,
input.date_range_filter,
input.text_filter {
    width:              90%;
    display:            block;
}

a.database {
    color:              #660000;
    cursor:             pointer;
}

a.table {
    color:              #006600;
    cursor:             pointer;
}

a.column {
    color:              #000066;
    cursor:             pointer;
}

#Queries {
    width:              100% !important;
    margin-left:        -2px;
}

.details {
    width:              20px;
    padding:            2px;
}

.fingerprint {
    width:              100%;
}

#Queries_paginate a {
    margin-right:   .25em;
    padding-left:   .25em;
    padding-right:  .25em;
}
