/* MySQL Parser */

.syntax_comment             {   color:              #808000 !important; }
.syntax_comment_mysql       { }
.syntax_comment_ansi        { }
.syntax_comment_c           { }
.syntax_digit               { }
.syntax_digit_hex           {   color:              teal !important; }
.syntax_digit_integer       {   color:              teal !important; }
.syntax_digit_float         {   color:              aqua !important; }
.syntax_punct               {   color:              fuchsia !important; }
.syntax_alpha               { }
.syntax_alpha_columnType    {   color:              #FF9900 !important; }
.syntax_alpha_columnAttrib  {   color:              #0000FF !important; }
.syntax_alpha_reservedWord  {   color:              #990099 !important; }
.syntax_alpha_functionName  {   color:              #FF0000 !important; }
.syntax_alpha_identifier    {   color:              #000000 !important; }
.syntax_alpha_charset       {   color:              #6495ed !important; }
.syntax_alpha_variable      {   color:              #800000 !important; }
.syntax_quote               {   color:              #008000 !important; }
.syntax_quote_double        { }
.syntax_quote_single        { }
.syntax_quote_backtick      { }
.syntax_indent0             {   margin-left:        0em; }
.syntax_indent1             {   margin-left:        1em; }
.syntax_indent2             {   margin-left:        2em; }
.syntax_indent3             {   margin-left:        3em; }
.syntax_indent4             {   margin-left:        4em; }
.syntax_indent5             {   margin-left:        5em; }
.syntax_indent6             {   margin-left:        6em; }
.syntax_indent7             {   margin-left:        7em; }
.syntax {
                                font-family:        Verdan, Arial, Tahoma;
                                font-size:          80%;
}
.syntax a {
                                text-decoration:    none;
                                border-bottom:      1px dotted black;
                                color:              inherit;
}
.syntax_comment {
                                padding-left:       4pt;
                                padding-right:      4pt;
}
.syntax_digit               { }
.syntax_digit_hex           { }
.syntax_digit_integer       { }
.syntax_digit_float         { }
.syntax_punct               { }
.syntax_alpha               { }
.syntax_alpha_columnType    {   text-transform:     uppercase; }
.syntax_alpha_columnAttrib  {   text-transform:     uppercase; }
.syntax_alpha_reservedWord  {
                                text-transform:     uppercase;
                                font-weight:        bold;
}
.syntax_alpha_functionName  {   text-transform:     uppercase; }
.syntax_alpha_identifier    { }
.syntax_alpha_charset       { }
.syntax_alpha_variable      { }
/*
.syntax_quote               {   white-space:        pre; }
*/
.syntax_quote_backtick      { }
